when correcting markdown files, do not propose large amount of changes, mostly focus on correcting typos, grammar, formatting and style. 
also append {target="_blank"} to all links going out of the website.